fdnt_scons.conf
.sconf_temp
lib
.sconsign.dblite
*.os
*~
*.o
Makefile*
CVS
*.err
*.log
*.pyc
*.condor
*.cat
*.reg
*.fits
*.out
*.par
bin/*
*.so
.obj
.depend
*.bkp.cpp
output
test*.cpp
temp*.cpp
*_debug.cpp
test
test.py
*.backup.py
*.backup.cpp
*.backup.h
*.png
*.pkl
